/*  your css code here. If applicable */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 20px;
  height: 20px;
  background-color: #ddd;
  margin: 1px;
  transition: background-color 1s ease; /* smooth fade */
}
